/* Контейнеры */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}
